/* 
CSS Style
Author: Sofia Neo
Wed Nov 22 2023
 */

 * {
  font-size: 12px;
 }

body {
  background-color: rgb(248, 249, 250);
  margin: 20px;
}

h1 {
  font-size: 2rem;
  color: blue;
  font-weight: bold;
  text-align: center;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: red;
}